/* montserrat-100 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-100.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-100.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-100.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-100.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-100.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-100.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-200 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-200.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-200.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-200.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-200.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-200.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-300 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-300.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-300.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-regular - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-500 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-500.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-600 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-600.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-600.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-700 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-700.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-800 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-800.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-800.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-900 - cyrillic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-900.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/cyrillic/montserrat-v25-cyrillic-900.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-900.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-900.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-900.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/cyrillic/montserrat-v25-cyrillic-900.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Montserrat;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper-full {
    max-width: 1770px;
    margin: 0 auto;
    margin-left: 4%;
}

.btn-up {
    /* фиксированное позиционирование */
    position: fixed;
    /* расстояние от правого края окна браузера */
    right: 10px;
    /* расстояние от нижнего края окна браузера */
    bottom: 20px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 60px;
    /* высота элемента */
    height: 60px;
}

.btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url(../img/btn-up.png);
}

.btn-up_hide {
    display: none;
}



/* Header style start */
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: px;

}

.header__logo-pic {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 75px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 120px;
}

.header__link {

    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #000;

}

/* Header style end */

/* Intro style start */
.intro {
    max-width: 1770px;
    background: url(../img/intro_picture_1.jpg) no-repeat center;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 4%;
    margin-bottom: 100px;
}

.intro__title {
    max-width: 837px;
    font-weight: 800;
    font-size: 70px;
    line-height: 85px;
    color: #fff;
    margin-bottom: 24px;
    padding-top: 100px;
}

.intro__subtitle {
    max-width: 790px;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 90px;
}

.order__button {
    padding: 18.5px 37px;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    background: #ff9900;
    border: 0;
    margin-bottom: 100px;
}

.order__button:hover,
.order__button:focus,
.order__button:active {
    background: #e1670E;
}

/* Intro style end */

/* About us start */
.about__us-title {
    font-weight: 100;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 20px;
}

.about__us-subtitle {
    max-width: 1235px;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 50px;
}

.about__us-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}

.about__us-card-pic {
    position: relative;
    margin-bottom: 100px;
}

.about__us-card {
    display: flex;
    flex-direction: column;
}

.about__us-card-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    max-width: 868px;
}

.about__us-card-subtitle {
    max-width: 504px;
    color: #fff;
    padding: 50px 50px 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}

.about__us-card-button {
    padding-left: 13%;
}

.about__us-button {
    padding: 19px 38px;
    gap: 10px;
    max-width: 175px;
    max-height: 60px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background: #ff9900;
    border: 0;
}

.about__us-button:hover,
.about__us-button:focus,
.about__us-button:active {
    background: #e1670E;
}

.about__us-card-rt {
    display: flex;
    max-width: 870px;
    max-height: 295px;
    margin-bottom: 32px;
    border: #4d4d4d solid 1px;
}

.about__us-card-rt-pic {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.about__us-card-rt-text {
    padding-left: 70px;
    padding-top: 65px;
}

.about__us-card-rt-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    max-width: 450px;
    margin-bottom: 8px;
}

.about__us-card-rt-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    max-width: 450px;
    margin-bottom: 70px;
}

/* About us end */

/* Work styles start */

.work {
    margin-bottom: 100px;
}

.work__title {
    font-weight: 100;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 50px;
}

.work__steps-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.work__step-link {
    margin-right: 85px;
    text-decoration: none;
    width: 47px;
    height: 22px;
    color: #4d4d4d;
    margin-bottom: 45px;
}

.work__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 142px;
    align-items: center;
}

.work__card-2,
.work__card-3,
.work__card-4 {
    display: none;
}

.work__card-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
}

.work__card-subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 50px;
}

.work__cards-buttons {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 19px 38px;
    gap: 10px;
}

.button__more {
    width: 99px;
    height: 20px;
    color: #FFFFFF;
    width: 175px;
    height: 60px;
    background: #FF9900;
    border: none;
}

.button__deal {
    width: 71px;
    height: 20px;
    color: #333333;
    width: 147px;
    height: 60px;
    border: 1px solid #333333;
    background-color: #FFFFFF;
    margin-left: 35px;
}

.button__more:hover,
.button__more:focus,
.button__more:active {
    background: #e1670E;
}

.button__deal:hover,
.button__deal:focus,
.button__deal:active {
    background: #666666;
    color: #fff;
}

/* Work styles end */

/* Questions start */
.questions__title {
    font-weight: 100;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 50px;
}

.questions__list {
    margin-bottom: 100px;
}

.question__link {
    height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    color: #333333;
}

.questions__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    border-top: #888888 solid 1px;
    border-bottom: #888888 solid 1px;
    padding: 40px 0;
}

/* Questions end */

/* Footer start */

footer {
    background: #222222;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__logo {
    margin-bottom: 50px;
}

.navigation {
    margin-top: 50px;
    margin-left: 50px;
}

.footer__navigation-list {
    margin-bottom: 90px;
}

.footer__navigation-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;
    color: #CACACA;
}

.footer__navigation-link:hover {
    color: #FF9900
}

.social__links {
    margin-bottom: 50px;
}

.fb,
.vk {
    margin-right: 25px;
}

.forms {
    margin-top: 50px;
}

.forms__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
    margin-bottom: 25px;
}

.form_field {
    width: 80%;
    ;
}

.fio__form {
    width: 90%;
    height: 60px;
    background: #414141;
    border: none;
    margin-bottom: 25px
}

.email__form {
    width: 90%;
    height: 60px;
    background: #414141;
    border: none;
    margin-bottom: 25px;
}

.message__form {
    width: 90%;
    height: 150px;
    background: #414141;
    border: none;
    margin-bottom: 32px;
}

::placeholder {
    padding-left: 2%;
}

.forms__button {
    display: flex;
    align-items: center;
}

.send__data-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 38px;
    gap: 10px;


    width: 269px;
    height: 58px;

    border: none;
    background: #FF9900;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    text-align: center;

    color: #FFFFFF;
    margin-right: 23px;
}

.send__data-button:hover {
    background: #e1670E;
}

.check__box {
    width: 261px;
    height: 32px;
    align-items: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    color: #CACACA;
}

.footer__info-subtitle {
    width: 50%;
    margin-top: 20%;
    margin-left: 30%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: #CACACA;
}

/* Footer end */

@media screen and (max-width: 1440px) {
    .about__us-subtitle {
        max-width: 1000px;
        line-height: 25px;
    }


    .about__us-card-subtitle {
        max-width: 700px;
        padding: 10px 50px 20px;
        line-height: 25px;
    }

    .about__us-card-button {
        padding-left: 7%;
        padding-bottom: 25px;
    }

    .about__us-button {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 10px;
    }

    .about__us-card-rt {
        max-width: 620px;
        max-height: 226px;
    }

    .about__us-card-rt-pic {
        max-width: 135px;
        margin-right: 45px;
    }

    .about__us-card-rt-text {
        padding-left: 20px;
        padding-top: 25px;
    }

    .about__us-card-rt-title {
        font-size: 20px;
        line-height: 20px;
        max-width: 350px;
        margin-bottom: 20px;
    }

    .about__us-card-rt-subtitle {
        font-size: 13px;
        line-height: 25px;
        max-width: 300px;
    }

}